<Card Shadow="Shadow.Default" Margin="Margin.Is3.OnY">
    <CardHeader Background="Background.Transparent">
        <b>@Quote.User.DisplayedName</b> (@Quote.User.Username) &bull; @Quote.CreatedOn
    </CardHeader>
    <CardBody>
        <CardText TextAlignment="TextAlignment.Center" Margin="Margin.Is3.OnY">
            <i>"@Quote.Quote"</i>
        </CardText>
        <CardText TextAlignment="TextAlignment.Center">
            @Quote.SaidBy
        </CardText>
        @if (Quote.When != null)
        {
            <CardText TextAlignment="TextAlignment.Center">
                @Quote.When
            </CardText>
        }
    </CardBody>
    @if (EditLink != null && DeleteLink != null)
    {
        <CardFooter Background="Background.Transparent" TextAlignment="TextAlignment.Center" Margin="Margin.Is3.FromTop">
            <Button Color="Color.Primary" Type="ButtonType.Link" To="#">Edit</Button>
            <Button Color="Color.Danger" Type="ButtonType.Link" To="#">Delete</Button>
        </CardFooter>
    }
</Card>

@code {
    [Parameter]
    public QuoteDTO Quote { get; set; }
    [Parameter]
    public string? EditLink { get; set; }
    [Parameter]
    public string? DeleteLink { get; set; }
}
